[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.3"
flake8 = "*"
pylint = "*"
gunicorn = "==19.9.0"
whitenoise = "==4.1.4"
dj-database-url = "*"
isoweek = "*"
python-dateutil = "*"
coverage = "*"
django-environ = "*"
dj-static = "*"
isort = "*"
black = "*"
djangorestframework = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
dj-rest-auth = "*"
drf-spectacular = "*"
djangorestframework-simplejwt = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.13.3"
